body {
    font-family: sans-serif;
    font-size: 14px;
}

.public-header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: darkblue;
    color: ivory;
    height: 120px;
}

.public-header h1 {
    padding-left: 15px;
    padding-top: 15px;
    position: relative;
}

.public-header h3 {
    padding-left: 15px;
    padding-bottom: 15px;
    font-style: italic;
    position: relative;
    top: -20px;
}

.public-content {
    border: 1px solid #CCC;
    height: 500px;
    margin: 130px auto;
}

.public-content p {
    margin-left: 13px;
}

/* BEGIN: Styling of login link */
.public-login-logout-link {
    position: relative;
    float: right;
    top: -32px;
}

.public-login-logout-link a:link {
    color: ivory;
    text-decoration: none;
}
.public-login-logout-link a:visited {
    color: ivory;
    text-decoration: none;
}
.public-login-logout-link a:hover {
    color: ivory;
    text-decoration: none;
}
.public-login-logout-link a:active {
    color: ivory;
    text-decoration: none;
}
/* END: Styling of login link */

/* BEGIN: Styling of project name link */
a:link.project-name-link {
    color: ivory;
    text-decoration: none;
}
a:visited.project-name-link {
    color: ivory;
    text-decoration: none;
}
a:hover.project-name-link {
    color: ivory;
    text-decoration: none;
}
a:active.project-name-link {
    color: ivory;
    text-decoration: none;
}
/* END: Styling of project name link */

.public-login-logout {
    position: relative;
    top: -55px;
    float: right;
    right: 15px;
}

/* BEGIN login form styling */
.login-form-container {
    position: fixed;
    width: 450px;
    height: 250px;
    top: 30%;
    left: 43%;
    margin-top: -50px;
    margin-left: -170px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.login-form {
    margin: 0 auto;
    margin-top: 20px;
}

.login-form label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
    width: 66px;
}

.login-form p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}

.login-form p a:hover {
    color: #555;
}

.login-form input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

.login-form input[type=text],
.login-form input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}

.login-form .login-form-lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
}

.login-form input[type=submit] {
    float: right;
    margin-right: 45px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
}
/* END login form styling */