<div class="public-images" style="max-width: 800px; margin: auto; max-height: 500px;">
    <div><img src="anonymous/images/abbey-and-sheep-small.jpg"></div>
    <div><img src="anonymous/images/cliffs-of-moher-small.jpg"></div>
    <div><img src="anonymous/images/dublin-ireland-small.jpg"></div>
    <div><img src="anonymous/images/hapenny-bridge-small.jpg"></div>
    <div><img src="anonymous/images/western-ireland-small.jpg"></div>
    <div><img src="anonymous/images/aran-island-fortress-small.jpg"></div>
    <div><img src="anonymous/images/burren-scenery-small.jpg"></div>
    <div><img src="anonymous/images/old-ennis-small.jpg"></div>
</div>